*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;

}
.container{
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.decreption{
    position: fixed;
    width: 1200px;
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 5px;
}

#texting{
    color: white;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.content-section{
    display: flex;
    gap: 30px;
    font-weight: 600;

}
.logo-section{
    display: flex;
    gap: 50px;

}

.search-section{  
    display: flex;
    gap: 20px;
}

/* .text-type{
    padding: 5px;

} */

input{
    padding: 5px;
}

#btn1{
    padding: 5px;
}
#btn2{
    padding: 5px;
}

.main-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.left-main-section{
    display: flex;
    flex-direction: column; 
}

.heading{
    font-size: 40px;
    margin-top: 10px;
}

.left-descreption{
    margin-top: 20px;
    font-size: 20px;   
}

.titel-style{
    opacity: 0.8;
}

.sumbit-btn{
    margin-top: 30px;
    
}

#btn-sumbit{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    font-weight: 400;
    /* background-color: rgb(167, 221, 85); */
    background-color: red;
    border-radius: 20px;
    color: aliceblue;
    border: none;
}

.title{
    color: red;
}

#dot{
    color: red;
}

.right-main-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: -100px;
}

.fotter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 8px;
}

#title-bottom{
    color: white;
    font-size: small;
}

.btn-checkOut{
    border-radius: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: black;
    color: white;
}

.nav-item{
    color: red;
}